// Contact Page

#contact-page {
  width: 90%;
  margin: auto;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.contact-container {
  @include flex(column, center, center);
  flex-wrap: wrap;
}

.contact-info {
  @include flex(column, center, center);

  p {
    padding: 1rem;
  }

  svg {
    margin: 1rem 0rem;
  }
}

.contact-desc-1 {
  @include flex(row, center, center);
}

.contact-desc-2 {
  @include flex(column, center, center);
}

.address,
.phone,
.mail {
  @include flex(column, center, center);
}

.contact-form {
  @include flex(column, center, center);
  width: 100%;

  form {
    width: 100%;
    @include flex(column, center, center);

    input {
      width: 100%;
      padding: 1rem 0rem;
      margin: 0.5rem 0rem;
      border: none;
      border-bottom: 2px solid $main-color;
      text-align: left;
    }
    p {
      margin: 0.5rem 0rem;
    }

    label {
      margin: 0.5rem 0rem;
    }

    .selection-box {
      width: 100%;
      @include flex(column, center, center);
    }

    select {
      width: 100%;
      padding: 1rem 0rem;
      margin: 0.5rem 0rem;
      border: none;
      border-bottom: 2px solid $main-color;
    }

    textarea {
      width: 100%;
      margin: 0.5rem 0rem;
      border: none;
      padding: 1rem 0rem;
      border-bottom: 2px solid $main-color;
    }
  }
}

#submit {
  border: none;
  background: $special-color;
  border-radius: 15px;
  padding: 1.5rem 3rem;
  margin: 1rem;
  color: whitesmoke;
  font-size: var(--text);
  font-weight: bold;
  letter-spacing: 0.1rem;
}

// For Tablet

@media screen and (min-width: 700px) {
  .contact-desc-2 {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
  }
}

// For Desktops

@media screen and (min-width: 1200px) {
  #contact-page {
    h2 {
      margin: 5rem;
    }
  }

  .contact-container {
    flex-direction: row;
    flex-wrap: wrap;
    height: 80vh;
  }

  .contact-info {
    flex: 1 1 40rem;
    height: 100%;
  }

  .contact-desc-1 {
    p {
      font-size: calc(0.75rem + 1vw);
    }
  }

  .contact-desc-2 {
    flex-direction: column;

    h3 {
      font-size: calc(1.5rem + 1vw);
    }
    p {
      font-size: calc(0.75rem + 1vw);
    }
  }

  .contact-form {
    flex: 1 1 40rem;
    height: 100%;
    width: 100%;

    form {
      width: 100%;
      height: 100%;
      @include flex(row, center, center);
      flex-wrap: wrap;
    }
  }

  #map {
    width: 75%;

    height: 50vh;
    margin: 5rem auto;
    justify-content: center;
    align-items: center;
  }
}
