// Home Nav

.home-header {
  background: white;
  min-height: 7vh;
  @include flex(row, center, center);
}

.home-logo {
  flex: 1 1 20rem;
  padding: 1rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.menu-right {
  flex: 1 1 20rem;
  @include flex(row, center, flex-end);
}

// Burger Menu

.burger {
  position: relative;
  display: block;
  cursor: pointer;
  margin: 1rem;
  z-index: 9;

  span {
    padding: 0.2rem 2rem;
    background: $special-color;
    margin: 0.5rem 0rem;
    display: block;
    border-radius: 15px;
    transition: all 0.5s ease;
  }
}
.nav-links {
  width: 100%;
  height: 100%;
  background: $special-color;
  position: fixed;
  top: 0%;
  left: 100%;
  transition: transform 1s ease;
  z-index: 3;

  @include flex(column, center, space-evenly);

  a {
    font-size: var(--header3);
    font-weight: bold;
    color: whitesmoke;
    transition: all 0.1s linear;

    &:hover {
      border-bottom: 5px solid whitesmoke;
    }
  }
}

.nav-open {
  transform: translateX(-100%);
}

.toggle .line1 {
  transform: rotateZ(45deg) translateY(300%);
  background: whitesmoke;
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotateZ(-45deg) translateY(-300%);
  background: whitesmoke;
}

// Main Section

#main-page {
  z-index: 0;
}
// Box Image

.box-image {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

// Space Image
.space-image {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  display: none;
}

.home-main {
  min-height: 50vh;
  width: 90%;
  margin: auto;
  margin-top: 3rem;

  position: relative;
}

.home-hero-section {
  @include flex(row, center, center);
}

.home-description {
  @include flex(column, flex-start, center);
  height: 100%;
  margin: 3rem 0rem;

  h1 {
    margin: 2rem 0rem;
  }

  h3 {
    color: $text-color;
  }
}

// Footer

.home-footer {
  min-height: 20vh;
  @include flex(column, center, center);
}

.assessment-btn {
  border: none;
  border-radius: 15px;
  background: $special-color;
  padding: 1.5rem;
  color: whitesmoke;
  font-size: var(--header3);
  font-weight: bold;
  margin: 2rem;
}

// Head Animations
#head {
  animation: boxAnimation 1s linear alternate infinite;
}

@keyframes boxAnimation {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(8px);
  }
}

// Pencil Animations

#pencil {
  animation: pencilAnimation 0.5s linear alternate infinite;
  transform-origin: 40% 60%;
}

@keyframes pencilAnimation {
  from {
    transform: rotateZ(5deg);
  }
  to {
    transform: rotateZ(-5deg);
  }
}

// For Tablet

@media screen and (min-width: 700px) {
  .home-logo {
    img {
      width: 60%;
      height: 60%;
    }
  }

  .home-footer {
    button {
      font-size: 2.5rem;
    }
  }

  .box-image {
    right: 15%;
    svg {
      width: 150%;
      height: 150%;
    }
  }
}

// For Desktop
@media screen and (min-width: 1200px) {
  // Nav Section

  .home-header {
    min-height: 10vh;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25),
      0px 10px 10px rgba(0, 0, 0, 0.25);
  }

  .burger {
    display: none;
    pointer-events: none;
  }

  .menu-right {
    flex: 3 1 20rem;
    @include flex(row, center, center);

    // Removing elements from nav
    li {
      &:nth-child(1) {
        display: none;
      }
    }

    .nav-links {
      position: initial;

      width: 100%;
      height: 100%;
      background: white;

      z-index: 3;

      @include flex(row, center, space-around);
    }

    a {
      font-size: var(--text);
      font-weight: normal;
      color: black;

      &:hover {
        border-bottom: 5px solid $main-color;
      }
    }
  }

  // Main Section

  #main-page {
    z-index: 0;
  }
  // Box Image

  .box-image {
    display: none;
  }

  // Space Image
  .space-image {
    @include flex(row, center, center);
    position: initial;
    flex: 1 1 40rem;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  .home-main {
    min-height: 55vh;
    width: 90%;
    margin: auto;
    margin-top: 3rem;

    position: relative;
  }

  .home-hero-section {
    @include flex(row, center, center);
  }

  .home-description {
    @include flex(column, flex-start, center);
    height: 100%;
    margin: 3rem 0rem;
    flex: 1 1 40rem;

    h3 {
      font-weight: normal;
    }
  }

  .home-footer {
    width: 90%;
    margin: auto;
    align-items: flex-start;
  }
}
