// Programs Page

#programs-page {
  width: 90%;
  margin: auto;
  text-align: center;

  @include flex(column, center, center);

  h2 {
    margin-bottom: 1rem;
  }
}

.program-container {
  @include flex(row, center, center);
  width: 100%;
  margin: 1.5rem;
}

.program-image {
  flex: 1 1 10rem;
}

.program-description {
  flex: 1 1 10rem;
  text-align: center;
}

// For Desktop

@media screen and (min-width: 1200px) {
  #programs-page {
    h2 {
      margin: 5rem;
    }

    footer {
      justify-content: center;
      align-items: center;
    }
  }

  .programs-holder {
    @include flex(row, center, center);
    height: 70vh;
    flex-wrap: wrap;
  }

  .program-container {
    max-width: 35%;
    height: 40%;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25),
      0px 10px 10px rgba(0, 0, 0, 0.25);
    flex: 1 1 30rem;

    h3 {
      font-size: calc(0.75rem + 1vw);
    }
  }
}
