// Variables
$main-color: #b8100a;
$special-color: #1865f2;
$text-color: #535353;

//Mixins
@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

// Imports
@import "global";
@import "home";
@import "about";
@import "programs";
@import "coupons";
@import "contact";
@import "lastFooter";
