* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --header1: calc(3rem + 1vw);
  --header2: calc(2rem + 1vw);
  --header3: calc(1.5rem + 1vw);
  --hedaer4: calc(1rem + 1vw);
  --text: calc(1.25rem + 1vw);
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-size: var(--text);
}

li {
  list-style: none;
}

h1 {
  font-size: var(--header1);
}

h2 {
  font-size: var(--header2);
}

h3 {
  font-size: var(--header3);
}

p {
  font-size: var(--text);
}

.home-header {
  background: white;
  min-height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  padding: 1rem;
}

.home-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.burger {
  position: relative;
  display: block;
  cursor: pointer;
  margin: 1rem;
}

.burger span {
  padding: 0.2rem 2rem;
  background: #1865f2;
  margin: 0.5rem 0rem;
  display: block;
  border-radius: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-links {
  width: 100%;
  height: 100%;
  background: #1865f2;
  position: fixed;
  top: 0%;
  left: 100%;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-links a {
  font-size: var(--header3);
  font-weight: bold;
  color: whitesmoke;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.nav-links a:hover {
  border-bottom: 5px solid whitesmoke;
}

.nav-open {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.toggle .line1 {
  -webkit-transform: rotateZ(45deg) translateY(300%);
          transform: rotateZ(45deg) translateY(300%);
  background: whitesmoke;
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotateZ(-45deg) translateY(-300%);
          transform: rotateZ(-45deg) translateY(-300%);
  background: whitesmoke;
}

.box-image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.space-image {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  display: none;
}

.home-main {
  min-height: 50vh;
  width: 90%;
  margin: auto;
  margin-top: 3rem;
  position: relative;
}

.home-hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin: 3rem 0rem;
}

.home-description h1 {
  margin: 2rem 0rem;
}

.home-footer {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.assessment-btn {
  border: none;
  border-radius: 15px;
  background: #1865f2;
  padding: 1.5rem;
  color: whitesmoke;
  font-size: var(--header3);
  font-weight: bold;
  margin: 2rem;
}

.arrow {
  width: 50px;
}

#head {
  -webkit-animation: boxAnimation 1s linear alternate infinite;
          animation: boxAnimation 1s linear alternate infinite;
}

@-webkit-keyframes boxAnimation {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
}

@keyframes boxAnimation {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
}

#pencil {
  -webkit-animation: pencilAnimation 0.5s linear alternate infinite;
          animation: pencilAnimation 0.5s linear alternate infinite;
  -webkit-transform-origin: 40% 60%;
          transform-origin: 40% 60%;
}

@-webkit-keyframes pencilAnimation {
  from {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  to {
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
}

@keyframes pencilAnimation {
  from {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  to {
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
}

#about-page {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#about-page h2 {
  margin: 1.5rem 0rem;
  text-align: center;
}

.about-cards {
  height: 40vh;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0rem;
}

.about-cards-image {
  width: 100%;
  height: 80%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

.about-cards-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-cards-description {
  height: 40%;
  width: 100%;
  padding-top: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

.about-cards-description p {
  font-size: var(--text);
}

.about-cards-description span {
  font-size: var(--text);
  font-weight: bold;
}

#programs-page {
  width: 90%;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#programs-page h2 {
  margin-bottom: 1rem;
}

.program-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 1.5rem;
}

.program-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

.program-description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
  text-align: center;
}

#coupons-page {
  width: 90%;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coupon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 20vh;
  margin: 2rem 0rem;
}

.coupon-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  width: 100%;
  text-align: center;
  background: rgba(184, 16, 10, 0.8);
  color: whitesmoke;
}

.coupon-terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  width: 100%;
  text-align: center;
  padding: 1rem;
  background: whitesmoke;
  font-size: var(--text);
}

#contact-page {
  width: 90%;
  margin: auto;
}

#contact-page h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-info p {
  padding: 1rem;
}

.contact-info svg {
  margin: 1rem 0rem;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form form input {
  padding: 1rem 2rem;
  margin: 0.5rem 0rem;
  border: none;
  border-bottom: 2px solid #b8100a;
  text-align: left;
}

.contact-form form p {
  margin: 0.5rem 0rem;
}

.contact-form form label {
  margin: 0.5rem 0rem;
}

.contact-form form select {
  padding: 1rem 3rem;
  margin: 0.5rem 0rem;
  border: none;
  border-bottom: 2px solid #b8100a;
}

.contact-form form textarea {
  margin: 0.5rem 0rem;
  border: none;
  padding: 1rem 0rem;
  border-bottom: 2px solid #b8100a;
}

#submit {
  border: none;
  background: #1865f2;
  border-radius: 15px;
  padding: 1.5rem 3rem;
  margin: 1rem;
  color: whitesmoke;
  font-size: var(--text);
  font-weight: bold;
  letter-spacing: 0.1rem;
}
/*# sourceMappingURL=styles.css.map */